@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  font-family: "inter";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-body: #0e0e0e;
  --bg-white: #fff;
  --bg-orange: #ff5b50;
  --bg-grey: #252525;
  --text-white: #fff;
  --text-grey: #5a5757;
  --text-orange: #ff5b50;
}
body {
  background-color: var(--bg-body);
  color: var(--text-white);
}
a {
  color: var(--text-white);
  text-decoration: none;
}
.nfts {
  color: var(--text-orange);
}
.header {
  background-image: url(/assets/img/background.png);
  background-size: cover;
}
.navbar {
  display: flex;
}
