@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  font-family: "inter";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-body: #0e0e0e;
  --bg-white: #fff;
  --bg-orange: #ff5b50;
  --bg-grey: #252525;
  --text-white: #fff;
  --text-grey: #5a5757;
  --text-black: #000000;
  --text-orange: #ff5b50;
  --border-white: #fff;
}
body {
  background-color: var(--bg-body);
  color: var(--text-white);
}
a {
  color: var(--text-white);
  text-decoration: none;
}
ul {
  list-style: none;
}
.nfts {
  color: var(--text-orange);
}
.header {
  background-image: url(/assets/img/background.png);
  background-size: cover;
}
.navbar {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 30px;
  font-weight: 600;
}
.pages {
  display: flex;
  gap: 50px;
  font-size: 15px;
  font-weight: 600;
}
.btn-buy {
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--bg-white);
  color: var(--text-black);
  border: 2px solid var(--border-white);
  font-size: 14px;
  font-weight: 600;
  padding: 7px 20px;
  transition: background 0.2s, color 0.2s;
}
.btn-buy:hover {
  background: transparent;
  color: var(--text-white);
}
.btn-buy img {
  width: 25px;
}
nav ul li a {
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}
nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: var(--bg-orange);
  transition: width 0.3s ease;
}
nav ul li a:hover::after {
  width: 100%;
}
.section_avatars-logo {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.lorem-text {
  font-size: 13px;
}
.start img {
  width: 120px;
}
.menu-bar {
  display: none;
}
